<%= render 'shared/page_title', title: "showing all recipes" %>

<div class="">
  <p>Total de Receitas: <%= @recipes.count %></p>
</div>
<div class="container">
  <%= render 'recipe', obj: @recipes %>
</div>
