<div class="container">
  <h1 class="center">Listing all Recipes</h1>
  <hr />
</div>

<div class="container">
  <% @recipes.each do |recipe| %>
    <div class="row">
      <div class="col-sm-2">
        <h1>Chef's Image</h1>
      </div>
      <div class="col-sm-8">
        <div class="well">
          <h5><%= recipe.name %></h5>
          <p><%= truncate(recipe.description, length: 100) %></p>
          <span class="quiet">
            <small><%= recipe.chef.chefname %></small> |
            <small><%= time_ago_in_words(recipe.created_at)%></small>
          </span>
        </div>
      </div>
      <div class="col-sm-2">
        <h1>Recipe's Image</h1>
      </div>
    </div>
  <% end %>
</div>
