<%= render 'shared/page_title', title: "Lista de Clientes" %>

<div class="container">
  <div class="row">
    <div class="container well">
      <div class="col-sm-offset-2  col-sm-4">
        <h4>Emissão PF</h4>
      </div>
      <div class="col-sm-6">

      </div>
    </div>
    <div class="container well">
      <div class="col-sm-offset-2  col-sm-4">
        <h4>Emissão PJ</h4>
      </div>
      <div class="col-sm-6">

      </div>
    </div>
  </div>
</div>
