$navbar-default-bg: #086bac;

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

.flex-sign {
  height: 196px;
}


#listing {
  text-decoration: none;
  list-style-type: none;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fbfcff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #FBFFF1;
  text-decoration: none;
}

#nav-text {
  color: #fbfcff;
}

#honolulu {
  background-color: #086bac;
  color: #fbfcff;
}

.jumbotron {
  background-image: asset-url('cover_image.jpg');
  background-size: cover;
  height: 300px;
  color: #fbfcff;
}

.container-bg {
  background-color: #fbfcff;
}

.footer {
  border-top: 1px solid #086bac;
  margin-top: 30px;
  padding-top: 30px;
}

.well a {
  color: #086bac;
}

.chef-info {
  margin-top: 10px;
  align-content: center;
}

.cancel-request {
  color: #086bac;
}

.recipe-actions {
  margin-bottom: 10px;
  color: #fbfcff;
}

.button-wrapper .btn {
	margin: 20px 0px;
}
.button-wrapper {
	display: flex;
    flex-flow: column wrap;
	justify-content: space-around;
}
a.btn>span.glyphicon {
	margin-left: 12px;
}
@media (min-width: 520px) {
  	.button-wrapper {
		align-items: center;
    	flex-flow: row wrap;
    	-ms-flex-flow: row wrap;
    	-webkit-flex-flow: row wrap;
  	}
	.btn-container-center>a.btn {
		margin-left: 12px;
		margin-right: 12px;
	}
	.btn-container-center {
		justify-content: center;
	}
	.btn-container-center>a.btn:first-of-type {
		margin-left: 0;
	}
	.btn-container-center>a.btn:last-of-type {
		margin-right: 0;
	}
	.btn-container-left>a.btn {
		margin-left: 12px;
		margin-right: 12px;
	}
	.btn-container-left {
		justify-content: flex-start;
	}
	.btn-container-left>a.btn:first-of-type {
		margin-left: 0;
	}
	.btn-container-left>a.btn:last-of-type {
		margin-right: 0;
	}
	.btn-container-right>a.btn {
		margin-left: 12px;
		margin-right: 12px;
	}
	.btn-container-right {
		justify-content: flex-end;
	}
	.btn-container-right>a.btn:first-of-type {
		margin-left: 0;
	}
	.btn-container-right>a.btn:last-of-type {
		margin-right: 0;
	}
	.btn-container-stretch>a.btn {
		margin-left: 12px;
		margin-right: 12px;
	}
	.btn-container-stretch {
		justify-content: space-between;
	}
	.btn-container-stretch>a.btn:first-of-type {
		margin-left: 0;
	}
	.btn-container-stretch>a.btn:last-of-type {
		margin-right: 0;
	}
	.btn-container-col-center {
		flex-direction: column;
		align-items: center;
	}
	.btn-container-col-left {
		flex-direction: column;
		align-items: flex-start;
	}
	.btn-container-col-right {
		flex-direction: column;
		align-items: flex-end;
	}

	/* TESTING */
	.btn-fill-space .btn {
	  margin: 20px;
	  flex-grow: 1;
	  transition-duration: 0.2s;
	}
	.btn-fill-space .btn:hover {
	  flex-grow: 1.6;
	}

	.btn-always-col {
		flex-flow: column wrap;
		justify-content: space-around;
	}
	.btn-always-col>.btn {
		width: 100%;
	}
}

.chef-title {
  color: #086bac;
  font-weight: bold;
}

.badge {
  background-color: #fbfcff;
}

.input-checkbox input {
  width: auto !important;
  display: flex;
  justify-content: center;
}
